<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>File Upload</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='style.css') }}"
    />
  </head>
  <body>
    <form method="POST" enctype="multipart/form-data">
      <!-- partial:uploading.partial.html -->
      <h1>Upload Required Files</h1>

      <div class="container">
        <div class="form-group" x-data="{ fileName: '' }">
          <div class="input-group shadow">
            <span class="input-group-text px-3 text-muted"
              ><i class="fas fa-file-pdf fa-lg"></i
            ></span>
            <input
              type="file"
              x-ref="file"
              @change="fileName = $refs.file.files[0].name"
              name="jd"
              class="d-none"
              accept=".docx,.txt,.doc"
              multiple
            />
            <input
              type="text"
              class="form-control form-control-lg"
              placeholder="Upload Job Descriptions"
              x-model="fileName"
            />
            <button
              class="browse btn btn-primary px-4"
              type="button"
              x-on:click.prevent="$refs.file.click()"
            >
              <i class="fas fa-image"></i> Browse
            </button>
          </div>
        </div>
      </div>

      <div class="container">
        <div class="form-group" x-data="{ fileName: '' }">
          <div class="input-group shadow">
            <span class="input-group-text px-3 text-muted"
              ><i class="fas fa-file-pdf fa-lg"></i
            ></span>
            <input
              type="file"
              x-ref="file"
              @change="fileName = $refs.file.files[0].name"
              name="resumes"
              class="d-none"
              multiple
            />
            <input
              type="text"
              class="form-control form-control-lg"
              placeholder="Upload Resumes"
              x-model="fileName"
            />
            <button
              class="browse btn btn-primary px-4"
              type="button"
              x-on:click.prevent="$refs.file.click()"
            >
              <i class="fas fa-image"></i> Browse
            </button>
          </div>
        </div>
      </div>

      <div class="container">
        <div class="form-group" x-data="{ fileName: '' }">
          <div class="input-group shadow">
            <span class="input-group-text px-3 text-muted"
              ><i class="fas fa-file-pdf fa-lg"></i
            ></span>
            <input
              type="file"
              x-ref="file"
              @change="fileName = $refs.file.files[0].name"
              name="text"
              class="d-none"
              accept=".docx,.txt,.doc"
            />
            <input
              type="text"
              class="form-control form-control-lg"
              placeholder="Upload Linkedin Profile link"
              x-model="fileName"
            />
            <button
              class="browse btn btn-primary px-4"
              type="button"
              x-on:click.prevent="$refs.file.click()"
            >
              <i class="fas fa-image"></i> Browse
            </button>
          </div>
        </div>
      </div>

      <div align="center">
        <button class="btn btn-secondary btn-lg btn-block" type="submit">
          Submit
        </button>
      </div>

      <!-- partial -->
      <script src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.8.0/dist/alpine.min.js"></script>
    </form>
  </body>
</html>
